
@import url('https://fonts.googleapis.com/css?family=Poppins:200, 300, 400, 500, 600, 700, 800, 900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
body {
    background: #333;
    color: #fff;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
    background: url('bg.png');
  }
  .navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.7);
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: right;
  }
  
  .navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
  }
  
  .navbar a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
  }

  .navbar a:hover {
    color: skyblue;
  }
  .navbar h3{
    margin-top: 10px;
    margin-left: 30px;
    letter-spacing: 5px;
    font-size: 25px;
  }
  .title {
    position: relative;
    top: 70px;
  }
  .title h1{
    justify-content: center;
    text-align: center;
    font-size: 50px;
  }
.banner {
	padding:230px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 30vh;
    align-items: center;
}
section {
	padding:50px 0;
}

.slider-container {
    top: 100px;
    position: relative;
    width: 500px;
    overflow: hidden;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .image-container {
    display: flex;
    transition: transform 0.4s ease-in-out;
  }
  
  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 20px;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .btn.prev {
    left: 10px;
  }
  
  .btn.next {
    right: 10px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  .contact{
    position: absolute;
    margin-top: 68px;
    margin-left: 1300px;
  }
  .contact li{
    list-style-type: none;
    padding-top: 10px;
    
  }
  .contact i{
    text-decoration: none;
    color:white;
    font-size: 20px;
  }
  
